# Enable rewrite engine
RewriteEngine On

# Redirect to HTTPS
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Set the default index file
DirectoryIndex index.php



# Prevent directory listing
Options -Indexes

# Set PHP settings (optional)
php_value upload_max_filesize 64M
php_value post_max_size 64M
php_value memory_limit 128M
php_value max_execution_time 300
